:root {
    --color-primary: #0d1e4e;
    --color-accent: #fff;
    --color-background: #fff;
    --color-body: #364d7ef1;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--color-background);
}

body {
    font-family: var(--body-font);
    background-color: var(--color-body);
}

header, main, footer {
    width: 840px;
    margin: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: white;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 300px;
}

.hero p{
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.hero article img {
    border: 1px solid black;
    float: right;
    width: 125px;
    position: absolute;
    bottom: 130px;
    left: 50px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--color-primary);
    color: white;
}

h2 {
    background-color: var(--color-primary);
    color: var(--color-text);
    width: 100%;
}

footer {
    border-top: 1px solid black;
    margin-top: 10px;
}

.socialmedia a {
    text-decoration: none;
}

footer .socialmedia img{
    width: 30px;
}