:root {
    --primary-color: black;
    --secondary-color: gray;
    --accent1-color: white;
    --accent2-color: darkblue;
    --heading-font: "Times New Roman","Georgia",serif;
    --body-font: Arial,Helvetica,sans-serif;
}

header{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer{
    width: 840px;
    margin: auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color)
}

.hero article img{
    float: right;
    width: 125px;
}

.hero article{
    position: absolute;
    bottom: 0px;
}

.hero p{
    background-color: rgba(0, 0, 139, 0.704);
    color: #fff;
}

footer img{
    color: var(--secondary-color);
    width: 30px;
}