:root{
    --nav-background-color: darkblue;
    --defautl-bg-color: #333;
    --font-size: medium;
    --font: Arial, sans-serif;
    --color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

main{
    max-width: 840px;
}

main p{
   width: 400px; 
   text-align: justify;
   margin: 20px;
}

h1{
    color: darkblue;
}


#profile{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside{
    width: 20rem;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: relative;
    top: 40px;
    left: 20px;

}

p{
    padding: 0;
}

footer{
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0/.1);
    background-color: var(--defautl-bg-color);
    color: #333;
}